@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <p>Sistema de Contorle de Fornecedores</p>
    <a href="https://www.linkedin.com/in/gustavoslv/">Meu perfil no LinkedIn </a>
    <a>||</a>
    <a href="https://github.com/Gustav0SLV">Meu perfil no GitHub</a>
</div>
